{% extends 'base.html' %}
{% load static %}
{% block title %}ajax{% endblock  %}

{% block body %}
<div class="container mt-5 ">
  







  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <h3 id="gjkkfhjfbjfjb" >{% if task_data_count %}{{task_data_count}}{% else %}0{% endif %}</h3>
    
  </nav>



    <div class="row d-flex justify-content-center">
      <div class="col-sm d-flex justify-content-center">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="text">
            </div>
            <input type="button" id="btn1" value="Submit" class="btn btn-primary">
          </form>
      </div>
      <div class="col-sm d-flex justify-content-center">
        <table class="table" id="tdbl">
            {% if tasks_data %}
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Text</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody id="tbody">
                
                {% for t in tasks_data %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{t.text}}</td>
                <td><input type="button" value="Submit" class="btn btn-danger btn_del" data-sid="{{t.id}}"></td>
              </tr>
              {% endfor %}
              
            </tbody>
            {% else %}
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Text</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody id="tbody">
                <tr>
                    <td><h2> No Data </h2></td>
                  </tr>
              </tbody>
              
              {% endif %}
        </table>
      </div>
    </div>
</div>
{% endblock  %}


{% block script %}
{% include 'app/ajax/index_ajax.html' %}

{% endblock  %}